<form method="post" action="/login">

<fieldset>
	<label>Username: </label>
	<input type="text" name="username" id="username" value="">
	<label>Password: </label>
	<input type="text" name="password" id="password" value="">
</fieldset>

<button type="submit" value="Login">Login</button>

</form>